In [2]:
print('Hello World!')
print(5)
print('Bye')

Hello World!
5
Bye

In [4]:
#this is a comment
print('I am Akash Neogi\nI have pursuing my MTech in Data Science from NIT Silchar')

I am Akash Neogi
I have pursuing my MTech in Data Science from NIT Silchar

- `\n` used for newline
- `\` is escape sequence in python 
- In Python, an escape sequence is a combination of characters used within a string literal to represent special characters or perform specific actions that cannot be directly typed or would otherwise break the string's syntax. Escape sequences always begin with a backslash (`\`) followed by one or more characters.

Purpose of Escape Sequence

Representing Unprintable Characters
- They allow the inclusion of characters like newlines (\n), tabs (\t), or backspaces (\b) that don't have a visible representation when typed directly.


Including Special Characters within Strings
- They enable the use of characters that have a special meaning in string syntax, such as single quotes (\') within a single-quoted string or double quotes (\") within a double-quoted string, without prematurely ending the string


Example
- \n: Newline (moves the cursor to the next line)
- \t: Horizontal tab (inserts a tab space)
- \\: Backslash (inserts a literal backslash character)
- \': Single quote (inserts a literal single quote)
- \": Double quote (inserts a literal double quote)
- \b: Backspace (deletes the character preceding it)
- \r: Carriage return (moves the cursor to the beginning of the current line)
- \f: Form feed (moves the cursor to the beginning of the next page)
- \ooo: Octal value (represents a character by its octal value, e.g., \101 for 'A')
- \xhh: Hexadecimal value (represents a character by its hexadecimal value, e.g., \x41 for 'A')
- \uHHHH: Unicode character (represents a Unicode character using a 4-digit hexadecimal value)
- \UHHHHHHHH: Unicode character (represents a Unicode character using an 8-digit hexadecimal value)

`print(object(s), sep=seperator, end=end, file=file, flush=flush)`
- object(s) - any object, as many as you like, will be converted to string before printed
- sep = 'seperator': specify how to seperate objects, if there is more than one. in default `sep=''`
- end = 'end': specify what to end at the end. in default `end='\n'`
- file: an object with a write method. default is `file=sys.stdout`
- **parameters 2 to 4 are optional**

In [8]:
print('Hello', 5, 6.7, 'Akash', sep=' ~ ') #by default sep = ''

Hello ~ 5 ~ 6.7 ~ Akash

In [9]:
print('akash', end='07') #bydefault end = '\n'
print('hello')

akash07hello

# **Variable in Python**
-container which holds data.

In [13]:
a = 1
b = 'Akash'
c = True
d = None
print(a)
print(b)
print(c)
print(d)
a1 = 9
print(a+a1)
#a and b are variable

1
Akash
True
None
10

In [14]:
#datatype is type of the data
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'str'>
<class 'bool'>
<class 'NoneType'>

# Python Built-In DataTypes
- int : 3, -8, 0
- float : 7.349, 0.00015, -9.15408
- complex : 6 + 2j `complex(6,2)`
- str : 'Hello World'
- bool : true or false

In [16]:
com = complex(8,2)
print(com)

(8+2j)

# Other Data Types
- List [sequenced]
- Tuple [sequenced]
- Dictionary [mapped]
- Set [unordered]

# Operators
- \+ : addition
- \- : subtraction
- \* : multiplication
- / : division
- % : modulus
- // : floor division
- \** : exponential

In [21]:
a = ['1','2','3','4']
print("/".join(a))

1/2/3/4

# Typecasting
int(), float(), str(), ord(), hex(), oct(), tuple(), set(), list(), dict(), etc.
# types
- explicit typecasting [typecasting done by developer]
- implicit typecasting [typecasting done by python automatically]

In [22]:
#Implicit Typecasting
a = 8
b = 3.4
print(a+b)

11.4

In [23]:
#Explicit Typecasting
a = '1'
b = '4'
print(int(a) + int(b))
print(a + b)

5
14

In [30]:
#taking user input in python
inp1 = input() #by default the input is string
print('the input is', inp1)

 akash

the input is akash

In [29]:
inp2 = int(input('Enter a integer: '))
print(inp2)

Enter a integer:  4

4

# String

In [41]:
str1 = 'hello'
str2 = "how"
str3 = '''are you'''
print(str1,str2,str3, sep=" ")

hello how are you

In [45]:
apple = '''He said,
Hi Harry
hey I am good
I want to eat an apple'''
print(apple)

He said,
Hi Harry
hey I am good
I want to eat an apple

In [49]:
#String Slicing
print(apple[5:14])

id,
Hi Ha

In [48]:
#looping through strings
for i in str1:
    print(i)

h
e
l
l
o

In [50]:
names = "Akash, Harry, Shubham"
print(names[0:5])

Akash

In [59]:
print(names[-7:-1]) #it means print(names[len(names)-7: len(names)-1])

Shubha

In [57]:
len(names) #length of the string

21

In [61]:
#String is immutable
a='!!Akash neogi!!!!!'
print(a)
print(a.upper())
print(a.lower())
print(a.rstrip("!"))

!!Akash neogi!!!!!
!!AKASH NEOGI!!!!!
!!akash neogi!!!!!
!!Akash neogi

In [67]:
str1 = "Welcome to Python"
print(str1.center(50))
print(len(str1))
print(len(str1.center(50)))

                Welcome to Python
17
50

In [73]:
# Common String Methods
text = "  Hello Python!  "

print(text.upper())       # '  HELLO PYTHON!  '  → Converts to uppercase
print(text.lower())       # '  hello python!  '  → Converts to lowercase
print(text.strip())      # 'Hello Python!'      → Removes spaces from both ends
print(text.lstrip())      # 'Hello Python!  '    → Removes spaces from left
print(text.rstrip())      # '  Hello Python!'    → Removes spaces from right
print(text.replace("Python", "World"))   # '  Hello World!  '
print(text.split())       # ['Hello', 'Python!'] → Splits by whitespace
print(text.split(","))    # Split by comma
print(" ".join(["Hello", "Python"]))     # 'Hello Python'
print(text.find("Python"))   # 8 → Returns index of substring (-1 if not found)
print(text.index("Python"))  # 8 → Similar to find(), but raises error if not found
print(text.count("l"))    # 2 → Counts occurrences of substring
print(text.startswith("  He")) # True
print(text.endswith("on!  "))  # True
print(text.isalpha())     # False → Checks if all chars are alphabets
print(text.isdigit())     # False → Checks if all chars are digits
print(text.isalnum())     # False → Checks if all chars are alphanumeric
print(text.isspace())     # False → Checks if all chars are whitespace
print(text.istitle())     # True → Checks if title case
print(text.title())       # '  Hello Python!  ' → Converts to title case
print(text.capitalize())  # '  hello python!  ' → First char uppercase, rest lowercase
print(text.swapcase())    # '  hELLO pYTHON!  ' → Swaps case

  HELLO PYTHON!
  hello python!
Hello Python!
Hello Python!
  Hello Python!
  Hello World!
['Hello', 'Python!']
['  Hello Python!  ']
Hello Python
8
8
2
True
True
False
False
False
False
True
  Hello Python!
  hello python!
  hELLO pYTHON!

# IF - ELSE STATEMENT

In [79]:
#conditional operators
# >, <, <=, >=, ==, !=
num = int(input('Enter a number: '))
if (num > 0):
    print("Positive")
elif (num < 0):
    print("Negative")
else:
    print("Zero")

Enter a number:  -85

Negative

# Python Time Modules

In [80]:
#Python Time Modules
import time
print(time.time()) #this will give current time in seconds since the Unix Epoch [January 1, 1970 UTC]

1755176928.8106549

In [81]:
print("Start")
time.sleep(3) #Pause for 3 seconds
print("End")

Start
End

In [82]:
print(time.localtime())

time.struct_time(tm_year=2025, tm_mon=8, tm_mday=14, tm_hour=18, tm_min=39, tm_sec=54, tm_wday=3, tm_yday=226, tm_isdst=0)

In [84]:
print(time.strftime("%D"))

08/14/25

In [87]:
print(time.strftime("%H:%M:%S"))

18:41:25

In [88]:
print(time.gmtime())

time.struct_time(tm_year=2025, tm_mon=8, tm_mday=14, tm_hour=13, tm_min=11, tm_sec=58, tm_wday=3, tm_yday=226, tm_isdst=0)

In [90]:
start = time.perf_counter()
time.sleep(3)
end = time.perf_counter()
print("Elapsed", end - start) #Measuring Execution Time

Elapsed 3.0009700000009616

# Match Case Statements in Python
in python `break` is not required for case statements

In [4]:
x = int(input())
match(x):
    case 0:
        print('case 0')
    case 1:
        print('case 1')
    case _: #default case is declared using _
        print(x)

 0

case 0

In [8]:
y = int(input('enter value of y: '))
match(y):
    case 0:
        print('y is 0')
    case 4:
        print('y is 4')
    case _ if y!=90:
        print(y, 'is not 90')
    case _ if y!=80:
        print(y, 'is not 80')
    case _:
        print(y)

enter value of y:  56

56 is not 90

# For Loop in Python

In [10]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [11]:
x = int(input('Enter first element: '))
y = int(input('Enter last element: '))
r = int(input('Enter increment: '))
for i in range(x, y+1, r):
    print(i)

Enter first element:  2
Enter last element:  10
Enter increment:  2

2
4
6
8
10

In [12]:
colors = ['red', 'blue', 'green', 'yellow', 'cyan']
for color in colors:
    print(color)
    for i in color:
        print(i)

red
r
e
d
blue
b
l
u
e
green
g
r
e
e
n
yellow
y
e
l
l
o
w
cyan
c
y
a
n

In [15]:
for i in range(10,0, -1):
    print(i)

10
9
8
7
6
5
4
3
2
1

# While Loop in Python

In [17]:
# for i in range(5):
#     print(i)
# equivalent of above using while loop
i=0
while(i<5):
    print(i)
    i+=1

0
1
2
3
4

In [18]:
i = int(input('Enter the number: '))
while (i<=10):
    print(i)
    i = int(input('Enter the number: '))
print('Done with the loop')

Enter the number:  2

2

Enter the number:  8

8

Enter the number:  5

5

Enter the number:  9

9

Enter the number:  11

Done with the loop

In [19]:
count=5
while(count>0):
    print(count)
    count-=1
else:
    print('I am in else statement')

5
4
3
2
1
I am in else statement

In [20]:
#python doesn't have a do while loop to implement do while loop following step can be implemented
count = 0
while(True):
    print('Count is ', count)
    count += 1
    if (count >= 5):
        break

Count is  0
Count is  1
Count is  2
Count is  3
Count is  4

In [24]:
for i in range(15):
    if (i==10):
        break #breaks the loop
    print('5 X ', (i+1), '=', 5*(i+1))

5 X  1 = 5
5 X  2 = 10
5 X  3 = 15
5 X  4 = 20
5 X  5 = 25
5 X  6 = 30
5 X  7 = 35
5 X  8 = 40
5 X  9 = 45
5 X  10 = 50

In [26]:
for i in range(15):
    if (i%2 == 0):
        print('skip the iteration')
        continue #skip the iteration
    print('5 X ', (i+1), '=', 5*(i+1))

skip the iteration
5 X  2 = 10
skip the iteration
5 X  4 = 20
skip the iteration
5 X  6 = 30
skip the iteration
5 X  8 = 40
skip the iteration
5 X  10 = 50
skip the iteration
5 X  12 = 60
skip the iteration
5 X  14 = 70
skip the iteration

# Python Function

In [30]:
#define a function to print which number is greater between two
def greater(num1, num2):
    if(num1 > num2):
        print(num1, 'is greater')
    elif(num2> num1):
        print(num2, 'is greater')
    else:
        print('both number are same')

In [31]:
greater(4, 5)
greater(8, 10)
greater(8, 3)
greater(5, 5)

5 is greater
10 is greater
8 is greater
both number are same

In [47]:
def islesser(a,b):
    pass

#this pass statement is used when you will pass this function for now and modify the function later

# FUNCTION ARGUMENTS
- Default Argument
- Keyword Argument
- Variable Length Argument
- Required Argument

In [49]:
#default argument: giving default argument while defining funtion [you may or may not give the value while calling the function]
def average(a=9, b=4):
    print("the average is", (a+b)/2)
average()

the average is 6.5

In [56]:
#keyword argument: you can change the order of argument while calling the function
def intro(fname, lname, mname = ''): #if all the arguments are not default then the default arguments must be placed at the last
    print("Hello my name is", fname, mname, lname)
intro(lname = 'Neogi', fname = 'Akash')

Hello my name is Akash  Neogi

In [54]:
intro(mname="Raj", lname="Paul", fname="Ritu")

Hello my name is Ritu Raj Paul

In [57]:
#required argument: required to give value in order while calling function
def sum(a, b):
    print('sum is', a+b)
sum(3,5)

sum is 8

In [66]:
#variable length arguments: 
def avg(*numbers): #here the arguments are taken in the form of a list
    sum = 0
    for i in numbers:
        sum += i
    print("average is", sum / len(numbers))

In [64]:
avg(3,5,6,7,8,9)

average is 6.333333333333333

In [65]:
avg(4,8,3)

average is 5.0

In [72]:
def names(**name): #here takes input in the form of a dictionary
    print(type(name))
    print(name)
names(name='akash',lname='neogi')

<class 'dict'>
{'name': 'akash', 'lname': 'neogi'}

# LIST IN PYTHON
list input is taken inside square bracket
- ordered collection of heterogeneous elements
- mutable/ changeable

In [74]:
l1 = [1,2,3,4,5]
print(l1)
print(type(l1))

[1, 2, 3, 4, 5]
<class 'list'>

In [82]:
l2 = [1,2,3,4,5,6,7,8]
count = 0
# key = 2
if 2 in l2:
    print('yes')
# print(count)

yes

In [83]:
print(l2[1:len(l2):2])

[2, 4, 6, 8]

In [84]:
print(l2[:])

[1, 2, 3, 4, 5, 6, 7, 8]

# List Comprehension - ***creating new list from other iterables like lists, tiples, dict, sets and

In [85]:
names = ['akash', 'arpan', 'subha', 'pritam', 'pallavi', 'monty', 'rimon']
names_with_o = [i for i in names if 'o' in i]
print(names_with_o)

['monty', 'rimon']

In [87]:
names_with_a = [i for i in names if 'a' in i]
print(names_with_a)

['akash', 'arpan', 'subha', 'pritam', 'pallavi']

In [99]:
num = [i**2 for i in range(9) if i%2!=0]
print(num)

[1, 9, 25, 49]

# TUPLE IN PYTHON
- like list ordered collection of heterogeneous elements
- immutable unlike lists

In [100]:
t = (1,)
print(type(t))

<class 'tuple'>

In [102]:
#tuple can't be changed but new tuple can be generated by merging two tuples
c1 = ('india', 'australia')
c2 = ('newzeland', 'england')
c = c1 + c2
print(c)
print(c1)
print(c2)

('india', 'australia', 'newzeland', 'england')
('india', 'australia')
('newzeland', 'england')

In [105]:
l = list(c1 + c2)
print(l)

['india', 'australia', 'newzeland', 'england']

In [106]:
c.count('india')

1

In [107]:
c.index('england')

3

In [110]:
l2 = [4,5,6,7,8]
count = 2
print(l2[count])

6

In [111]:
l3 = []
print(type(l3))

<class 'list'>

# f-string in Python

In [112]:
letter = "Hey my name is {} and I am from {}"
country = "India"
name = "Akash"
print(letter.format(name, country)) #old approach of python string formatting

Hey my name is Akash and I am from India

In [113]:
#current approach
print(f"Hey my name is {name} and I am from {country}")

Hey my name is Akash and I am from India

In [115]:
price = 34.279277
print(f"The Price is {price:.2f} only") #.2f is used to take upto 2 decimal point

The Price is 34.28 only

# doc-string in Python
string literals that appear right after the definition of a function, method, class or module

docstring is not ignored like comment

In [117]:
def square(n):
    '''Takes in a number n, returns the square of n'''
    print(n**2)
square(5)

25

In [118]:
print(square.__doc__)

Takes in a number n, returns the square of n

# PEP 8
- PEP 8 is a document that provides guidelines and best practices on how to write Python code.
- It was written in 2001 by Guido van Rossum, Bary Warsaw and Nick Coglan
- Primary focus is to improve the readability and consistency of Python code
- PEP : Python Enhancement Proposal
- A PEP is a document that describes new features proposed for Python and documents aspects of Python, like designs and style for the community

In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

# Recursion in Python

In [132]:
def fact(num):
    if (num == 1 or num == 0):
        return 1
    else:
        return (num * fact(num-1))
print(fact(6))

720

In [135]:
f1 = fact(5)
print(f1)

120

In [141]:
#Fibonacci Series 0,1,1,2,3,5,8,...
def fibo(num):
    a,b = 0,1
    for i in range(num):
        print(a, end=" ")
        a,b = b, a+b
fibo(5)

0 1 1 2 3

In [142]:
fibo(10)

0 1 1 2 3 5 8 13 21 34

In [143]:
def fibo(num):
    if num<=1:
        return num
    else:
        return fibo(num-1) + fibo(num-2)
for i in range(10):
    print(fibo(i), end=" ")

0 1 1 2 3 5 8 13 21 34

# SET IN PYTHON
- unordered collection of unique heterogeneous objects
- mutable/ changeable
- indexing not possible

In [144]:
s = {2, 4, 2, 6, 2, 8, 6, 5}
print(s)

{2, 4, 5, 6, 8}

In [149]:
s.add(9)
print(s)

{2, 4, 5, 6, 8, 9}

In [150]:
s.add(4)
print(s)

{2, 4, 5, 6, 8, 9}

In [151]:
s1 = set()
print(s1)

set()

In [152]:
s1.add(3)
print(s1)

{3}

In [157]:
s1 = {1, 2, 5, 6}
s2 = {3, 6, 7}
print(s1.union(s2))

{1, 2, 3, 5, 6, 7}

In [155]:
print(s1.intersection(s2))
print(s1 - s2)
print(s2 - s1)

{6}
{1, 2, 5}
{3, 7}

In [162]:
cities = {'Tokyo', 'Madrid', 'Berlin', 'Delhi'}
cities2 = {'Tokyo', 'Seoul', 'Kabul', 'Madrid'}
cities3 = cities.union(cities2)
cities.update(cities2)
print(cities)
print(cities2)
print(cities3)

{'Delhi', 'Madrid', 'Seoul', 'Berlin', 'Kabul', 'Tokyo'}
{'Madrid', 'Seoul', 'Kabul', 'Tokyo'}
{'Delhi', 'Madrid', 'Seoul', 'Berlin', 'Kabul', 'Tokyo'}

In [7]:
cities = {'Tokyo', 'Madrid', 'Berlin', 'Delhi'}
cities2 = {'Tokyo', 'Seoul', 'Kabul', 'Madrid'}
cities3 = cities.intersection(cities2)
cities.intersection_update(cities2)
print(cities)
print(cities2)
print(cities3)

{'Madrid', 'Tokyo'}
{'Madrid', 'Seoul', 'Tokyo', 'Kabul'}
{'Madrid', 'Tokyo'}

In [10]:
cities2.clear()
cities2.add('Delhi')
print(cities2)

{'Delhi'}

# DICT IN PYTHON

In [14]:
info = {
    'name': 'Akash',
    'age': 24,
    'branch': 'DSE',
    'course': 'MTech'
}
print(info.keys())

dict_keys(['name', 'age', 'branch', 'course'])

In [16]:
print(info.values())
print(info.items())

dict_values(['Akash', 24, 'DSE', 'MTech'])
dict_items([('name', 'Akash'), ('age', 24), ('branch', 'DSE'), ('course', 'MTech')])

In [25]:
ep1 = {122:45, 123:89, 567:69, 670:69}
ep2 = {222:67, 566:90}

ep1.update(ep2)
ep2.clear()
print(ep1)
print(ep2)

{122: 45, 123: 89, 567: 69, 670: 69, 222: 67, 566: 90}
{}

In [26]:
ep1.pop(122)
print(ep1)

{123: 89, 567: 69, 670: 69, 222: 67, 566: 90}

In [27]:
ep1.popitem()
print(ep1)

{123: 89, 567: 69, 670: 69, 222: 67}

In [28]:
del ep2
# print(ep2) : NameError ep2 dict is deleted

# for loop with else in python

In [29]:
for i in range(5):
    print(i)
else:
    print("Sorry no i")

0
1
2
3
4
Sorry no i

# EXCEPTION HANDLING IN PYTHON

In [37]:
a = input('Enter a number: ')
print(f"Multiplication table of {a}")
for i in range(1,11):
    print(f"{int(a)} X {i} = {int(a)*i}")

print("Some imp lines of code")

Enter a number:  8

Multiplication table of 8
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
8 X 10 = 80
Some imp lines of code

In [38]:
a = input('Enter a number: ')
print(f"Multiplication table of {a}")
for i in range(1,11):
    print(f"{int(a)} X {i} = {int(a)*i}")

print("some imp lines of code")

Enter a number:  akash

Multiplication table of akash

ValueError: invalid literal for int() with base 10: 'akash'

In [40]:
a = input('Enter a number: ')
print(f"Multiplication table of {a}")
try:
    for i in range(1,11):
        print(f"{int(a)} X {i} = {int(a)*i}")
except Exception as e:
    print("Invalid Input!")

print("some imp lines of code")

Enter a number:  akash

Multiplication table of akash
Invalid Input!
some imp lines of code

In [41]:
#Value Error
try:
    int(input("Enter an integer: "))
except ValueError:
    print("Number entered is not an integer")

Enter an integer:  a

Number entered is not an integer

In [52]:
#Value Error
try:
    num = int(input("Enter an integer: "))
    a = [5,6,3]
    print(a[num])
except ValueError:
    print("Number entered is not an integer")
except IndexError:
    print("Index error")

Enter an integer:  4

Index error

# FINALLY KEYWORD IN PYTHON

In [60]:
def func():
    try:
        l = [1, 5, 6, 7]
        i = int(input("Enter the index: "))
        print(l[i])
        return 1
    except:
        print("Some error occurred")
        return 0
    finally:
        print("I am always executed") #finally is always executed irrespective of return statement
x = func()

Enter the index:  6

Some error occurred
I am always executed

In [59]:
def func():
    try:
        l = [1, 5, 6, 7]
        i = int(input("Enter the index: "))
        print(l[i])
        return 1
    except:
        print("Some error occurred")
        return 0
    print("I am always executed")
x = func()

Enter the index:  5

Some error occurred

# CUSTOM ERRORS IN PYTHON

In [62]:
sal = int(input("Enter Salary: "))
if not 2000<sal<5000:
    raise ValueError("Not a valid Salary")
print(sal)

Enter Salary:  6000

ValueError: Not a valid Salary

In [68]:
#shorthand if-else statement
a = 400
b = 500
print("A") if a>b else print("=") if a==b else print("B")

B

In [73]:
#Enumerate in Python loop over iterables(list, tuple, string, etc.) while keeping track of the index automatically
fruits = ['apple', 'mango', 'banana', 'jackfruit']
for index, fruit in enumerate(fruits, start=1): #here automatically start = 0; you can change by giving the starting value
    print(f"{index}: {fruit}")

1: apple
2: mango
3: banana
4: jackfruit

# VIRTUAL ENVIRONMENT in Python
tool used to isolate Python Environments on a single machine, allowing you to work on multiple projects with different dependencies and packages without conflicts. This can be especially usseful when working on projects that have package versions or packages that are not compatible with each other.

- `python -m venv myenv` this will create a new virtual environment named **myenv** in the selected folder
- `myenv\Scripts\Activate` command will activate the virtual enviroment
- once you are in this virtual environment you can locally install different version like older version of different modules like pandas, numpy etc. required for your project
- `deactivate` will deactivate the virtual environment

# `requirements.txt` file
- `pip freeze > requirements.txt` will list the packages needed for the specified virtual environment
- `pip install -r requirements.txt` will install the packages listed in the requirement.txt file

In [75]:
import math
print(dir(math))

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'cbrt', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'exp2', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'lcm', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'nextafter', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc', 'ulp']

# os Module in Python
built-in library that provide functions for interacting with the operating system. 

allows you to perform wide bariety of tasks, such as reading and writing files, interacting with the file system, and running system commands

In [80]:
import os
print(dir(os))

['DirEntry', 'EX_OK', 'F_OK', 'GenericAlias', 'Mapping', 'MutableMapping', 'O_APPEND', 'O_BINARY', 'O_CREAT', 'O_EXCL', 'O_NOINHERIT', 'O_RANDOM', 'O_RDONLY', 'O_RDWR', 'O_SEQUENTIAL', 'O_SHORT_LIVED', 'O_TEMPORARY', 'O_TEXT', 'O_TRUNC', 'O_WRONLY', 'P_DETACH', 'P_NOWAIT', 'P_NOWAITO', 'P_OVERLAY', 'P_WAIT', 'PathLike', 'R_OK', 'SEEK_CUR', 'SEEK_END', 'SEEK_SET', 'TMP_MAX', 'W_OK', 'X_OK', '_AddedDllDirectory', '_Environ', '__all__', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', '_check_methods', '_execvpe', '_exists', '_exit', '_fspath', '_get_exports_list', '_walk', '_wrap_close', 'abc', 'abort', 'access', 'add_dll_directory', 'altsep', 'chdir', 'chmod', 'close', 'closerange', 'cpu_count', 'curdir', 'defpath', 'device_encoding', 'devnull', 'dup', 'dup2', 'environ', 'error', 'execl', 'execle', 'execlp', 'execlpe', 'execv', 'execve', 'execvp', 'execvpe', 'extsep', 'fdopen', 'fsdecode', 'fsencode', 'fspath', 'fstat', 'fsync', 'ftruncate', 'get_exec_path', 'get_handle_inheritable', 'get_inheritable', 'get_terminal_size', 'getcwd', 'getcwdb', 'getenv', 'getlogin', 'getpid', 'getppid', 'isatty', 'kill', 'linesep', 'link', 'listdir', 'lseek', 'lstat', 'makedirs', 'mkdir', 'name', 'open', 'pardir', 'path', 'pathsep', 'pipe', 'popen', 'putenv', 'read', 'readlink', 'remove', 'removedirs', 'rename', 'renames', 'replace', 'rmdir', 'scandir', 'sep', 'set_handle_inheritable', 'set_inheritable', 'spawnl', 'spawnle', 'spawnv', 'spawnve', 'st', 'startfile', 'stat', 'stat_result', 'statvfs_result', 'strerror', 'supports_bytes_environ', 'supports_dir_fd', 'supports_effective_ids', 'supports_fd', 'supports_follow_symlinks', 'symlink', 'sys', 'system', 'terminal_size', 'times', 'times_result', 'truncate', 'umask', 'uname_result', 'unlink', 'unsetenv', 'urandom', 'utime', 'waitpid', 'waitstatus_to_exitcode', 'walk', 'write']

In [90]:
if(not os.path.exists("data")):
    os.mkdir("data")

In [91]:
for i in range(0,10):
    os.rename(f"data/Day{i+1}", f"data/Tutorial {i+1}")

# Local and Global Variable in Python

In [103]:
x = 4 #global variable
def hello():
    x = 6 #this x is a local variable
    y = 5 #local variable of hello
    print(x+y)
hello()
print(x)

11
4

In [104]:
x = 4
def hello():
    global x #to take global variable x
    x = 6
    y = 5
    print(x+y)
hello()
print(x)

11
6

# File Handling in Python
Modes is File
- read(r): This mode opens the file for reading only and gives an error if the file does not exist. this is the default mode
- write(w): This mode opens the file for writing only and creates a new file if file does not exist
- append(a): This mode opens the file for appending only and creates a new file if the file does not exist
- create(x): This mode create a file and gives an error if the file already exists
- text(t): Apart from these modes we also need to specify how the file must be handled. t mode is used to handle text files. There is no difference between r and rt or w and wt since text mode is default.
- binary(b): Used to handle binary files(images, pdfs, etc.)

In [108]:
f = open('myfile.txt', 'r')

In [109]:
print(f)

<_io.TextIOWrapper name='myfile.txt' mode='r' encoding='cp1252'>

In [110]:
text = f.read()
print(text)
f.close()

hello
my name is akash

In [112]:
#Writing to a file
f = open('myfile.txt', 'w')
f.write("Hello, World!")
f.close()

In [116]:
#Appending to a file
f = open('myfile.txt', 'a')
f.write("Hello, World!")
f.close()

In [117]:
#Closing a file without using f.close()
with open('myfile.txt', 'a') as f:
    f.write("\nHey I am inside with")

In [122]:
f = open('myfile.txt', 'r')
while True:
    line = f.readline()
    if not line:
        break
    print(line)
f.close()

Hello, World!Hello, World!Hello, World!Hello, World!

Hey I am inside with

# seek() and tell() functions
- seek () function allows you to move the current position within a file to a specific point
- the position is specified in bytes, and you can move either forward or backward from the current position

In [128]:
with open('myfile.txt', 'r') as f:
    f.seek(10) #move to 10th byte in the file
    #read the next 10 bytes
    data = f.read(10)
    print(data)

e is Akash

- tell() function returns the current position within the file, in bytes.
- helps in keeping track of your location within file fir seeking to a speific position relative to the current position

In [130]:
with open('myfile.txt', 'r') as f:
    data = f.read(10)
    current = f.tell() #save the current position
    print(current)

10

- truncate() function specify the size of the file

In [133]:
with open('myfile.txt', 'w') as f:
    f.write('Hello World')
    f.truncate(8)

with open('myfile.txt', 'r') as f:
    print(f.read())

Hello Wo