In [2]:
print('Hello World!')
print(5)
print('Bye')

Hello World!
5
Bye

In [4]:
#this is a comment
print('I am Akash Neogi\nI have pursuing my MTech in Data Science from NIT Silchar')

I am Akash Neogi
I have pursuing my MTech in Data Science from NIT Silchar

- `\n` used for newline
- `\` is escape sequence in python 
- In Python, an escape sequence is a combination of characters used within a string literal to represent special characters or perform specific actions that cannot be directly typed or would otherwise break the string's syntax. Escape sequences always begin with a backslash (`\`) followed by one or more characters.

Purpose of Escape Sequence

Representing Unprintable Characters
- They allow the inclusion of characters like newlines (\n), tabs (\t), or backspaces (\b) that don't have a visible representation when typed directly.


Including Special Characters within Strings
- They enable the use of characters that have a special meaning in string syntax, such as single quotes (\') within a single-quoted string or double quotes (\") within a double-quoted string, without prematurely ending the string


Example
- \n: Newline (moves the cursor to the next line)
- \t: Horizontal tab (inserts a tab space)
- \\: Backslash (inserts a literal backslash character)
- \': Single quote (inserts a literal single quote)
- \": Double quote (inserts a literal double quote)
- \b: Backspace (deletes the character preceding it)
- \r: Carriage return (moves the cursor to the beginning of the current line)
- \f: Form feed (moves the cursor to the beginning of the next page)
- \ooo: Octal value (represents a character by its octal value, e.g., \101 for 'A')
- \xhh: Hexadecimal value (represents a character by its hexadecimal value, e.g., \x41 for 'A')
- \uHHHH: Unicode character (represents a Unicode character using a 4-digit hexadecimal value)
- \UHHHHHHHH: Unicode character (represents a Unicode character using an 8-digit hexadecimal value)

`print(object(s), sep=seperator, end=end, file=file, flush=flush)`
- object(s) - any object, as many as you like, will be converted to string before printed
- sep = 'seperator': specify how to seperate objects, if there is more than one. in default `sep=''`
- end = 'end': specify what to end at the end. in default `end='\n'`
- file: an object with a write method. default is `file=sys.stdout`
- **parameters 2 to 4 are optional**

In [8]:
print('Hello', 5, 6.7, 'Akash', sep=' ~ ') #by default sep = ''

Hello ~ 5 ~ 6.7 ~ Akash

In [9]:
print('akash', end='07') #bydefault end = '\n'
print('hello')

akash07hello

# **Variable in Python**
-container which holds data.

In [13]:
a = 1
b = 'Akash'
c = True
d = None
print(a)
print(b)
print(c)
print(d)
a1 = 9
print(a+a1)
#a and b are variable

1
Akash
True
None
10

In [14]:
#datatype is type of the data
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'str'>
<class 'bool'>
<class 'NoneType'>

# Python Built-In DataTypes
- int : 3, -8, 0
- float : 7.349, 0.00015, -9.15408
- complex : 6 + 2j `complex(6,2)`
- str : 'Hello World'
- bool : true or false

In [16]:
com = complex(8,2)
print(com)

(8+2j)

# Other Data Types
- List [sequenced]
- Tuple [sequenced]
- Dictionary [mapped]
- Set [unordered]

# Operators
- \+ : addition
- \- : subtraction
- \* : multiplication
- / : division
- % : modulus
- // : floor division
- \** : exponential

In [21]:
a = ['1','2','3','4']
print("/".join(a))

1/2/3/4

# Typecasting
int(), float(), str(), ord(), hex(), oct(), tuple(), set(), list(), dict(), etc.
# types
- explicit typecasting [typecasting done by developer]
- implicit typecasting [typecasting done by python automatically]

In [22]:
#Implicit Typecasting
a = 8
b = 3.4
print(a+b)

11.4

In [23]:
#Explicit Typecasting
a = '1'
b = '4'
print(int(a) + int(b))
print(a + b)

5
14

In [30]:
#taking user input in python
inp1 = input() #by default the input is string
print('the input is', inp1)

 akash

the input is akash

In [29]:
inp2 = int(input('Enter a integer: '))
print(inp2)

Enter a integer:  4

4

# String

In [41]:
str1 = 'hello'
str2 = "how"
str3 = '''are you'''
print(str1,str2,str3, sep=" ")

hello how are you

In [45]:
apple = '''He said,
Hi Harry
hey I am good
I want to eat an apple'''
print(apple)

He said,
Hi Harry
hey I am good
I want to eat an apple

In [49]:
#String Slicing
print(apple[5:14])

id,
Hi Ha

In [48]:
#looping through strings
for i in str1:
    print(i)

h
e
l
l
o

In [50]:
names = "Akash, Harry, Shubham"
print(names[0:5])

Akash

In [59]:
print(names[-7:-1]) #it means print(names[len(names)-7: len(names)-1])

Shubha

In [57]:
len(names) #length of the string

21

In [61]:
#String is immutable
a='!!Akash neogi!!!!!'
print(a)
print(a.upper())
print(a.lower())
print(a.rstrip("!"))

!!Akash neogi!!!!!
!!AKASH NEOGI!!!!!
!!akash neogi!!!!!
!!Akash neogi

In [67]:
str1 = "Welcome to Python"
print(str1.center(50))
print(len(str1))
print(len(str1.center(50)))

                Welcome to Python
17
50

In [73]:
# Common String Methods
text = "  Hello Python!  "

print(text.upper())       # '  HELLO PYTHON!  '  → Converts to uppercase
print(text.lower())       # '  hello python!  '  → Converts to lowercase
print(text.strip())      # 'Hello Python!'      → Removes spaces from both ends
print(text.lstrip())      # 'Hello Python!  '    → Removes spaces from left
print(text.rstrip())      # '  Hello Python!'    → Removes spaces from right
print(text.replace("Python", "World"))   # '  Hello World!  '
print(text.split())       # ['Hello', 'Python!'] → Splits by whitespace
print(text.split(","))    # Split by comma
print(" ".join(["Hello", "Python"]))     # 'Hello Python'
print(text.find("Python"))   # 8 → Returns index of substring (-1 if not found)
print(text.index("Python"))  # 8 → Similar to find(), but raises error if not found
print(text.count("l"))    # 2 → Counts occurrences of substring
print(text.startswith("  He")) # True
print(text.endswith("on!  "))  # True
print(text.isalpha())     # False → Checks if all chars are alphabets
print(text.isdigit())     # False → Checks if all chars are digits
print(text.isalnum())     # False → Checks if all chars are alphanumeric
print(text.isspace())     # False → Checks if all chars are whitespace
print(text.istitle())     # True → Checks if title case
print(text.title())       # '  Hello Python!  ' → Converts to title case
print(text.capitalize())  # '  hello python!  ' → First char uppercase, rest lowercase
print(text.swapcase())    # '  hELLO pYTHON!  ' → Swaps case

  HELLO PYTHON!
  hello python!
Hello Python!
Hello Python!
  Hello Python!
  Hello World!
['Hello', 'Python!']
['  Hello Python!  ']
Hello Python
8
8
2
True
True
False
False
False
False
True
  Hello Python!
  hello python!
  hELLO pYTHON!

# IF - ELSE STATEMENT

In [79]:
#conditional operators
# >, <, <=, >=, ==, !=
num = int(input('Enter a number: '))
if (num > 0):
    print("Positive")
elif (num < 0):
    print("Negative")
else:
    print("Zero")

Enter a number:  -85

Negative

# Python Time Modules

In [80]:
#Python Time Modules
import time
print(time.time()) #this will give current time in seconds since the Unix Epoch [January 1, 1970 UTC]

1755176928.8106549

In [81]:
print("Start")
time.sleep(3) #Pause for 3 seconds
print("End")

Start
End

In [82]:
print(time.localtime())

time.struct_time(tm_year=2025, tm_mon=8, tm_mday=14, tm_hour=18, tm_min=39, tm_sec=54, tm_wday=3, tm_yday=226, tm_isdst=0)

In [84]:
print(time.strftime("%D"))

08/14/25

In [87]:
print(time.strftime("%H:%M:%S"))

18:41:25

In [88]:
print(time.gmtime())

time.struct_time(tm_year=2025, tm_mon=8, tm_mday=14, tm_hour=13, tm_min=11, tm_sec=58, tm_wday=3, tm_yday=226, tm_isdst=0)

In [90]:
start = time.perf_counter()
time.sleep(3)
end = time.perf_counter()
print("Elapsed", end - start) #Measuring Execution Time

Elapsed 3.0009700000009616