In [2]:
print('Hello World!')
print(5)
print('Bye')

Hello World!
5
Bye

In [4]:
#this is a comment
print('I am Akash Neogi\nI have pursuing my MTech in Data Science from NIT Silchar')

I am Akash Neogi
I have pursuing my MTech in Data Science from NIT Silchar

- `\n` used for newline
- `\` is escape sequence in python 
- In Python, an escape sequence is a combination of characters used within a string literal to represent special characters or perform specific actions that cannot be directly typed or would otherwise break the string's syntax. Escape sequences always begin with a backslash (`\`) followed by one or more characters.

Purpose of Escape Sequence

Representing Unprintable Characters
- They allow the inclusion of characters like newlines (\n), tabs (\t), or backspaces (\b) that don't have a visible representation when typed directly.


Including Special Characters within Strings
- They enable the use of characters that have a special meaning in string syntax, such as single quotes (\') within a single-quoted string or double quotes (\") within a double-quoted string, without prematurely ending the string


Example
- \n: Newline (moves the cursor to the next line)
- \t: Horizontal tab (inserts a tab space)
- \\: Backslash (inserts a literal backslash character)
- \': Single quote (inserts a literal single quote)
- \": Double quote (inserts a literal double quote)
- \b: Backspace (deletes the character preceding it)
- \r: Carriage return (moves the cursor to the beginning of the current line)
- \f: Form feed (moves the cursor to the beginning of the next page)
- \ooo: Octal value (represents a character by its octal value, e.g., \101 for 'A')
- \xhh: Hexadecimal value (represents a character by its hexadecimal value, e.g., \x41 for 'A')
- \uHHHH: Unicode character (represents a Unicode character using a 4-digit hexadecimal value)
- \UHHHHHHHH: Unicode character (represents a Unicode character using an 8-digit hexadecimal value)

`print(object(s), sep=seperator, end=end, file=file, flush=flush)`
- object(s) - any object, as many as you like, will be converted to string before printed
- sep = 'seperator': specify how to seperate objects, if there is more than one. in default `sep=''`
- end = 'end': specify what to end at the end. in default `end='\n'`
- file: an object with a write method. default is `file=sys.stdout`
- **parameters 2 to 4 are optional**

In [8]:
print('Hello', 5, 6.7, 'Akash', sep=' ~ ') #by default sep = ''

Hello ~ 5 ~ 6.7 ~ Akash

In [9]:
print('akash', end='07') #bydefault end = '\n'
print('hello')

akash07hello

# **Variable in Python**
-container which holds data.

In [13]:
a = 1
b = 'Akash'
c = True
d = None
print(a)
print(b)
print(c)
print(d)
a1 = 9
print(a+a1)
#a and b are variable

1
Akash
True
None
10

In [14]:
#datatype is type of the data
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'str'>
<class 'bool'>
<class 'NoneType'>

# Python Built-In DataTypes
- int : 3, -8, 0
- float : 7.349, 0.00015, -9.15408
- complex : 6 + 2j `complex(6,2)`
- str : 'Hello World'
- bool : true or false

In [16]:
com = complex(8,2)
print(com)

(8+2j)

# Other Data Types
- List [sequenced]
- Tuple [sequenced]
- Dictionary [mapped]
- Set [unordered]

# Operators
- \+ : addition
- \- : subtraction
- \* : multiplication
- / : division
- % : modulus
- // : floor division
- \** : exponential

In [21]:
a = ['1','2','3','4']
print("/".join(a))

1/2/3/4

# Typecasting
int(), float(), str(), ord(), hex(), oct(), tuple(), set(), list(), dict(), etc.
# types
- explicit typecasting
- implicit typecasting